body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    background: #ffffff;
    color: #000000;
    padding: 10px 0;
}

header .container {
    display: flex;
    flex-direction: column; /* För att lägga navigeringsraden under titeln på mobil */
    align-items: center; /* Centrera både titeln och navigeringsraden */
    position: relative;
}

header .logo {
    color: #000000;
    text-decoration: none;
    font-size: 1.5em; /* Mindre storlek */
    font-weight: bold;
    padding-top: 10px; /* Utrymme ovanför titeln */
}

header nav {
    width: 100%; /* Fyller hela bredden */
    text-align: center; /* Centrera navigeringslänkar */
    padding-top: 20px; /* Mellanrum mellan titeln och navigeringsraden */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrera navigeringslänkar horisontellt */
    flex-wrap: wrap; /* Tillåter radbrytning vid behov */
}

header nav ul li {
    margin: 0 10px; /* Utrymme mellan länkarna */
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

#hero iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrerar videon horisontellt */
}

#hero h2 {
    margin: 0;
    font-size: 3em;
}

#portfolio, #clients, #contact {
    padding: 50px 0;
    text-align: center;
}

.portfolio-items, .client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item, .client-logos img {
    margin: 15px;
    max-width: 100%;
}

.portfolio-item {
    flex: 1 1 300px;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.contact-details {
    text-align: center;
    padding: 20px;
}

.contact-details p {
    margin: 10px 0;
}

.contact-details a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.contact-details a:hover {
    text-decoration: underline;
}

footer {
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

/* Media query för mobilversionen */
@media (max-width: 768px) {
    header .container {
        flex-direction: column; /* För att navigeringsraden ska vara under titeln */
    }

    header .logo {
        margin-bottom: 20px; /* Mellanrum mellan titeln och navigeringsraden */
    }

    header nav {
        padding-top: 0; /* Ta bort extra utrymme ovanför navigeringsraden */
    }
}
