body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Använder Helvetica Neue och fallback till Arial och sans-serif */
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    background: #ffffff;
    color: #000000;
    padding: 10px 0;
}

header .container {
    display: flex;
    flex-direction: column; /* För att lägga navigeringsraden under titeln på mobil */
    align-items: center; /* Centrera både titeln och navigeringsraden */
    position: relative;
}

header .logo {
    color: #000000;
    text-decoration: none;
    font-size: 3em; /* Öka storleken på titeln */
    font-weight: bold;
    padding-top: 20px; /* Mellanrum ovanför titeln */
}

header nav {
    width: 100%; /* Fyller hela bredden */
    text-align: center; /* Centrera navigeringslänkar */
    padding-top: 20px; /* Mellanrum mellan titeln och navigeringsraden */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrera navigeringslänkar horisontellt */
    flex-wrap: wrap; /* Tillåter radbrytning vid behov */
}

header nav ul li {
    margin: 0 10px; /* Utrymme mellan länkarna */
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

#hero {
    background: #ffffff;
    text-align: center;
    padding: 20px 0; /* Justera padding för att passa den nya storleken på videon */
}

#hero iframe {
    width: 100%; /* Gör videon 100% av föräldraelementets bredd */
    height: auto; /* Håller förhållandet mellan bredd och höjd */
    max-width: 1200px; /* Sätter en maxbredd för att förhindra att videon blir för stor på stora skärmar */
    display: block;
    margin: 0 auto; /* Centrerar videon horisontellt */
}

footer {
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

/* Media query för mobilversionen */
@media (max-width: 768px) {
    header .container {
        flex-direction: column; /* För att navigeringsraden ska vara under titeln */
    }

    header .logo {
        margin-bottom: 20px; /* Mellanrum mellan titeln och navigeringsraden */
    }

    header nav {
        padding-top: 0; /* Ta bort extra utrymme ovanför navigeringsraden */
    }
}
